<!DOCTYPE html>
<html>

<head>

    <title>Data Annotation Tool Login</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<div class="login-container">

    <div class="login-box">

        <h1>Data Annotation Tool</h1>

        <p class="subtitle">
            Employee & Admin Login
        </p>

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Enter Username"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</div>

</body>

</html>